.myProjectsHeading{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 50px;
}

.projectsMainContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  /* background-color: lightpink; */
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  padding:40px 40px;
}

.projectName{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px;
  
}

.subDiv{
  display: flex;
  margin-bottom: 10px;


}

.projectDetails{
  display: flex;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 20px;
  margin-right: 40px;
  width: 100%;
  height: auto;
  justify-self: baseline;
  
}

.projectImage{
  width: 90%;
  

}

.projectsContainer{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  /* background-color: lightblue; */
  width: 60%;
  height: auto;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 30px black;
  transition: box-shadow 0.15s;
}
.projectsContainer:hover{
  /* border-image: linear-gradient(45deg,#AF40FF, #6E07F3); */
  box-shadow: 0px 0px 40px #6E07F3;
  
}

.projectsContainer2,.projectsContainer4{
  align-self: flex-end;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 60%;
}

.visitButtonDiv{

  display: flex;
  align-items: center;
  justify-content: center;

}

button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 80px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
  
 }
 
 button:active,
 button:hover {
  outline: 0;
 }
 
 button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
 }
 
 button:hover span {
  background: none;
 }
 
 button:active {
  transform: scale(0.9);
 }




 @media screen and (max-width:1100px){
  .projectsContainer{
    align-self: center;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    /* align-items: center; */
  }

  .projectDetails{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }

  .subDiv{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projectImage{
    margin-top: 9px;
    justify-content: center;
  }

  .projectImageDiv{
    display: flex;
    align-items: center;
    justify-content: center;
  }
 }