.socialsContainer{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  
}

.twitterImg{
  width: 120px;
}

.gitHubImg{
  width: 80px
}

.logoS{
  margin: 20px;
}


.logoS img {
  transition: transform 0.75s; /* Add a smooth transition for the rotation */
}

/* Rotate the image on hover */
.logoS img:hover {
  transform: rotate(360deg);
}

@media screen and (max-width:550px) {
  
  .logoS{
    margin: 0px;
  }

  .linkedInImg{
    width: 70px;
  }

  .twitterImg{
    width: 90px;
  }

  .gitHubImg{
    width: 60px;

  }
  .instagramImg{
    width: 70px;
    margin-left: 10px;
  }
}